<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exercise.mapper.MailMapper">
	<insert id="saveMail" parameterType="Mail">
		insert into mail(sendid,receiveid,time,title,isdrop,isread
		<if test="content!=null and content!=''">
			,content
		</if>
		<if test="file!=null and file!=''">
			,file
		</if>
		) values(#{sendid},#{receiveid},#{time},#{title},0,0
		<if test="content!=null and content!=''">
			,#{content}
		</if>
		<if test="file!=null and file!=''">
			,#{file}
		</if>
		)
	</insert>
	
	<select id="listMails" parameterType="int" resultType="Mail">
		select * from mail where receiveid=#{receiveid} and isdrop=0
	</select>
	<select id="listDroppedMails" parameterType="int"  resultType="Mail">
		select * from mail where receiveid=#{receiveid} and isdrop=1
	</select>
	
	<update id="updateMail" parameterType="Mail">
		update mail set isdrop=1 where receiveid=#{receiveid} and sendid=#{sendid} and time=#{time}
	</update>
</mapper>
