<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exercise.mapper.MailMapper">
	<insert id="saveMail" parameterType="Mail">
		insert into mail(sendid,receiveid,time,title,isdrop,isread
		<if test="content!=null and content!=''">
			,content
		</if>
		<if test="file!=null and file!=''">
			,file
		</if>
		) values(#{sendid},#{receiveid},#{time},#{title},0,0
		<if test="content!=null and content!=''">
			,#{content}
		</if>
		<if test="file!=null and file!=''">
			,#{file}
		</if>
		)
	</insert>
	
	<select id="listMails" parameterType="Mail" resultType="Mail">
		select * from mail where receiveid=#{receiveid} and isdrop=#{isdrop}
		<!-- <where>
			<if test="receiveid!=null and receiveid!=''">
				and receiveid=#{receiveid}
			</if>
			<if test="isdrop!=null and isdrop!=''">
				and isdrop=#{isdrop}
			</if>
		</where> -->
	</select>
	<select id="listSendMails" parameterType="Mail" resultType="Mail">
		select * from mail where sendid=#{sendid}
	</select>
	<!-- <select id="listDroppedMails" parameterType="int"  resultType="Mail">
		select * from mail where receiveid=#{receiveid} and isdrop=1
	</select> -->
	<select id="showMail" parameterType="Mail" resultType="Mail">
		select * from mail where time=#{time} and sendid=#{sendid} and receiveid=#{receiveid}
	</select>
	
	<update id="updateMail" parameterType="Mail">
		update mail set isdrop=#{isdrop},isread=#{isread}
			<!-- <if test="isdrop!=null and isdrop!=''">
				isdrop=#{isdrop},
			</if>
			<if test="isread!=null and isread!=''">
				isread=#{isread},
			</if> -->
		where receiveid=#{receiveid} and sendid=#{sendid} and time=#{time}
	</update>
	<delete id="deleteMail" parameterType="Mail">
		delete from mail where receiveid=#{receiveid} and sendid=#{sendid} and time=#{time}
	</delete>
</mapper>
